<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/default.css')}}"/>

    <title>Client</title>
</head>
<body>
    <div class="main-wrapper">
        <div class="lab-enter">
            <form method="post" class="lab-enter_form" enctype=multipart/form-data>
                <input type="file" name="file" id="file-input" class="file-input js-file-input" multiple/>
                <label for="file-input" class="file-input-label js-file-input-label">Выберите сертификат</label>
                <button class="lab-enter_button" aria-label="Войти в лабораторию">Войти в лабораторию</button>
            </form>
            {% if result is not none %}
                {% if result %}
                    <div class="lab-enter_result lab-enter_result-ok">Access granted</div>
                {% else %}
                    <div class="lab-enter_result lab-enter_result-fail">Access denied</div>
                {% endif %}
            {% endif %}
        </div>
    </div>

</body>

<script>
    document.querySelector('.js-file-input').addEventListener("change", function(e) {
        document.querySelector('.js-file-input-label').innerHTML = e.target.files[0].name;
    });
</script>
</html>